.cell {
  background-color: black;
  position: absolute;
  height: 10px;
  width: 10px;
}

.snake-board {
  display: grid;

}

.snake-board > div {
  border: 1px solid grey
}

.reversedRange {
  direction: rtl
}

.flex-container {
  display: flex;
  justify-content: center;
}

.mine-grid {
  display: grid;
  text-align: center;
}

.mine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mine-grid > div {
  border: 1px solid black;
  line-height: 23px;
  font-size: 18px;
  height: 25px;
}

.mine-grid > div > button {
  background-color: gray;
  box-shadow: inset 6px 6px 0px -4px rgba(0,0,0,0.75);
  height: 22px;
  width: 26px;
  font-weight: 900;
  font-size: 18px;

}

.master-mind-board {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100px 100px;
  width: 50%;
  margin: auto;
}

.master-mind-board > div {
  border: 1px solid black
}

.select {
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
}

.option {
  height: 30px;
  border-radius: 50%;
}

.set {
  width: 30px;
  display: inline-block;
}